body {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(246, 246, 231);
}

nav {
  list-style-type: none;
  margin:0 2%;
  padding: 5px;
  overflow: hidden;
  height: 50px;
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(249, 249, 213);
  box-shadow:  0px 3px 5px #121213;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 375px;
  height: 470px;
  text-align: center;
  font-family: arial;
  color: purple;
  background-color: honeydew;
  flex-direction: row;
  margin: 50px;
  border-radius: 10px;
}

.price {
  color: grey;
  font-size: 22px;
}

div h1 {
  text-decoration-color: rgba(0, 0, 0, 0.179);
}

nav img {
  height: 50px;
  width: 100px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

img {
  width: 375px;
  height: 280px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

nav a {
  float: left;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

 nav a:hover:not(.active) {
  background-color: rgb(12, 241, 127);
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  text-decoration-color: #121213;
  background: none;
}

form.example button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #54575f;
  color: none;
  font-size: 17px;
  border: 1px solid rgb(15, 15, 15);
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #494952;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.card a{
  text-decoration: none;
}

.card a h1{
  color: purple;
}

.nav-logo{
  float: left;
}
