body {
  background-color: rgb(246, 246, 231);
}

nav {
  list-style-type: none;
  margin:0 2%;
  padding: 5px;
  overflow: hidden;
  height: 50px;
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: #121213 solid 1px; */
  background-color: rgb(249, 249, 213);
  box-shadow:  0px 3px 5px #121213;
}

nav a {
  float: left;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover:not(.active) {
  background-color: rgb(12, 241, 127);
}

.dive {
  width: 70%;
  margin-left: 15%;
}

.service {
  margin: 5%;
  border-width: 5px;
  border-radius: 5%;
  border-color: black;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  text-decoration-color: #121213;
  background: none;
}

form.example button {
  float: left;
  width: 15%;
  padding: 10px;
  background: #54575f;
  color: none;
  font-size: 17px;
  border: 1px solid rgb(15, 15, 15);
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #494952;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.nav-logo{
  width: 10%;
  float: left;
}

